header{
   background: linear-gradient(to bottom,transparent,rgba(0,0,0,0.5), ),
    
    url('../img/jpg/15.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    width:100%;
    height:70px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    .logo-nav{
        margin-top: 10px;
        width: 100px;
        height: 100%;
      
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: auto;
            height:100px;
        }
    }
    .nav-links{
       
        width:900px;
        height: 100%;
     
        display:flex;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        li{
            .links{
                display: flex;
                font-size: 20px;
                gap: 10px;
                align-items: center;
                color: white;
                span{
                    font-family: 'Lucky',sans-serif;
                }
               
            }
            .whatsapp-link {
                display: inline-block;
                transition: transform 0.2s;
                &:hover{
                    color: blue;
                }
            }
               
        }
    }
    
}
@media (max-width:500px){
    header{
      display: none;
    }
}