.sidebar-container{
    display:none ;
}
@media (max-width:500px){
    .sidebar-container{
        display:block ;
        width: 100%;
        height:calc(100vh - 60px);
        background-color: red;
    }
}