.hero-home {
  position: relative;
  margin-top: 70px;
  width: 100%;
  height: 100vh;

  .video-bg {
    position: relative;
    width: 100%;
    height: 100%;
        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
        z-index: 1;
        transition: opacity 1s ease;
        }

        .content {
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #fff;
            text-align: center;
            transition: opacity 1s ease;
            .btn-box{
             
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                .balao-hero1{
                    width: 100px;
                    height: 100px;
                    transform: rotate(-30deg);
                    position: relative;
                    right: -30px;
                    z-index: 1;
                }
                .balao-hero2{
                    width: 100px;
                    height: 100px;
                    transform: rotate(40deg) scaleX(-1); /* combina rotação + espelhamento */
                    position: relative;
                    right: 35px;
                    z-index: 1;
                }
                button {
                    position: relative;
                    z-index: 10;
                    background:var(--roxo);
                    border: none;
                    color: #fff;
                    padding: 10px 20px;
                    border-radius: 30px;
                    font-weight: bold;
                    cursor: pointer;
                    transition: all 0.3s ease;

                    &:hover {
                        background: var(--roxo);
                        transform: scale(1.05);
                    }
                }
            }
            img{
              position:relative;
              z-index: 11;
              width: 90px;
            }
        
        }

        &.hide-overlay {
        .overlay,
            .content {
                opacity: 0;
                pointer-events: none;
            }
        }
    }
}
.navegacao-main{
  width: 100%;
  height: auto;
  background: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), /* degrade preto com opacidade */
    url('../img/jpg/fundoroxo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .boxes{
      padding-top: 50px;
      padding-bottom: 50px;
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 10px;
      .box{
        border-radius: 20px;
         box-shadow: 0 4px 10px var(--roxo);
        background-color: rgba($color: #000000, $alpha: 0.1);
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction:column ;
        align-items: center;
        justify-content: center;
        img{
          width: 180px;
        }
        h2{
          color: #fff;
          font-family: 'Lucky',sans-serif;
          font-size: 30px;
          text-align: center;
        }
        p{
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          color: #fff;
          text-align: center;
          padding: 20px;
        }
        div{
          background-color: var(--laranja) !important;
        }
      }

    }

}
.conexao{
  width: 100%;
  max-height: 200px;
  height: 200px;
  background: 
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), /* degrade preto com opacidade */
    url('../img/jpg/bg-conexao-roxo.jpg');
}
.sobre{
  width: 100%;
  background: url('../img/jpg/bg-sobre.jpg');
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  padding: 40px;
  .conteudo{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    .brands{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      h1{
        font-family: 'Lucky',sans-serif;
        font-size: 60px;
        color: var(--roxo);
        -webkit-text-stroke: 2px #ffffff;  /* Largura e cor da borda */
        // text-stroke: 2px #000;          /* (para compatibilidade futura) */
        
      }
      p{
        font-size: 20px;
        color: #fff;
        font-family: 'Poppins',sans-serif;
      }
      h2{
        font-family: 'Poppins',sans-serif;
        color: #fff;
        -webkit-text-stroke: 1px #00ff1e; 
         font-family: 'Lucky',sans-serif;

      }

    }
    .boxes{
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 20px;

      .box-textos{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        width: 70%;
        .paragrafos{
          width: 100%;
          background-color: #ffffff92;
          border-radius: 20px;
          padding: 20px;
          p{
            color: var(--roxo);
            font-family: var(--poppins);
            font-weight: 300;
            font-size: 19px;
            span{
              font-family: var(--lucky);
            }
          }
        }
        .estatisticos{
          width: 100%;
          

          display: flex;
          .left{
            width: 50%;
           
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            padding: 4px;
            gap: 40px;
             .icon-box{
              display: flex;
              align-items: center;
              span{
                font-size: 40px;
                margin-right: 10px;
                color:white
               
              }
             
              .icon-text{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .number{
                  font-family: var(--lucky);
                  font-size: 30px;
                }
                p{
                  font-family: var(--poppins);
                  font-size: 14px;
                  color:white;
                   padding: 0 ;
                }
              }
            }
           
            
          }
          .right{
            width: 50%;
             display: flex;
            justify-content: space-around;
            flex-direction: column;
            padding: 4px;
            align-items: center;
            gap: 40px;
            .icon-box{
              display: flex;
              align-items: center;
              span{
                font-size: 40px;
                margin-right: 10px;
                color: #fff;
               
              }
              
              .icon-text{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .number{
                  font-family: var(--lucky);
                  font-size: 30px;
                }
                p{
                  font-family: var(--poppins);
                  font-size: 14px;
                  color:white;
                   padding: 0 ;
                }
              }
            }
           
            
          }
        }
        a.btn{
          
          background-color:var(--verde);
          width: 170px;
          padding: 20px;
          border-radius: 10px;
          color: var(--roxo);
          font-size: 20px;
          font-family:var(--lucky);
        }

      }
      .box-img{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        img{
          width: 100%;
          border-radius: 30px;
          box-shadow:0 4px 10px #000 ;
        }
      }
    }
  }
}

/* Responsivo */
@media (max-width: 800px) {
  .hero-home {
    height: 600px;
  }
  .hero-home .content h1 {
    font-size: 2rem;
  }
  .hero-home .content p {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .hero-home {
    height: 400px;
    margin-top:0;
  }
  .hero-home .content {
    width: 90%;
  }
  .navegacao-main{
    width: 100%;
    height: auto;
    background: 
      linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), /* degrade preto com opacidade */
      url('../img/jpg/fundoroxo.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .boxes{
     
      background-color: transparent;
      padding-top: 10px;
      padding-bottom: 50px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 10px;
      .box{
        background-color: transparent;
        border-radius: 0px;
        box-shadow: none;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction:column ;
        align-items: center;
        justify-content: center;
        img{
          width: 180px;
        }
        h2{
          color: #fff;
          font-family: 'Lucky',sans-serif;
          font-size: 30px;
        }
        p{
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-style: normal;
          font-size: 14px;
          color: #fff;
          text-align: center;
          padding: 20px;
        }
        div{
          background-color: var(--laranja) !important;
        }
      }

    }
  }
  .conexao{
    display: none;
  }
  .sobre{
    
      background: url('../img/jpg/bg-sobre.jpg');
      padding: 10px;
      .conteudo{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .brands{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          h1{
            font-family: 'Lucky',sans-serif;
            font-size: 40px;
            color: var(--roxo);
            -webkit-text-stroke: 2px #ffffff;  /* Largura e cor da borda */
            // text-stroke: 2px #000;          /* (para compatibilidade futura) */
            
          }
          p{
            font-size: 15px;
            color: #fff;
            font-family: 'Poppins',sans-serif;
          }
          h2{
            font-family: 'Poppins',sans-serif;
            color: #fff;
            font-size: 20px;
            -webkit-text-stroke: 1px #00ff1e; 
            font-family: 'Lucky',sans-serif;

          }

        }
        .boxes{
          flex-direction: column-reverse;
          gap: 10px;
          .box-textos{
            display: flex;
            flex-direction: column;
            gap: 30px;
            width: 100%;
            .paragrafos{
              width: 100%;
              background-color: #ffffff92;
              border-radius: 10px;
              padding: 10px;
              p{
                color: var(--roxo);
                font-family: var(--poppins);
                font-weight: 300;
                font-size: 16px;
                span{
                  font-family: var(--lucky);
                }
              }
            }
            .estatisticos{
              width: 100%;
              display: flex;
              .left{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: column;
                padding: 4px;
                gap: 10px;
                .icon-box{
                  display: flex;
                  align-items: start;
                  span{
                    font-size: 20px;
                    margin-right: 0px;
                    color:white
                  
                  }
                
                  .icon-text{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .number{
                      font-family: var(--lucky);
                      font-size: 30px;
                    }
                    p{
                      font-family: var(--poppins);
                      font-size: 14px;
                      color:white;
                      padding: 0 ;
                    }
                  }
                }
              
                
              }
              .right{
                width: 50%;
                display: flex;
                justify-content: space-around;
                flex-direction: column;
                padding: 4px;
                align-items: center;
                gap: 40px;
                .icon-box{
                   display: flex;
                  align-items: start;
                  span{
                    font-size: 20px;
                    margin-right: 0px;
                    color:white
                  
                  }
                  
                  .icon-text{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    .number{
                      font-family: var(--lucky);
                      font-size: 30px;
                    }
                    p{
                      font-family: var(--poppins);
                      font-size: 14px;
                      color:white;
                      padding: 0 ;
                    }
                  }
                }
              
                
              }
            }
            a.btn{
              
            }

          }
          .box-img{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px;
            img{
              width: 100%;
              border-radius: 10px;
              box-shadow:0 4px 10px #000 ;
            }
          }
        }
      }
    }
}